- @page_title='History'
- @stylesheet = 'css/style.css'

%section
  %h1 History
  %dl
    %dt 2011/06/29
    %dd Deploy <a href="http://sinatra-easy-template.ongaeshi.me/">http://sinatra-easy-template.ongaeshi.me/</a>
  %dl
    %dt 2011/06/26
    %dd Upload <a href="https://github.com/ongaeshi/sinatra-easy-template">GitHub</a>.
  %dl
    %dt 2011/06/25
    %dd Start.
