%section
  %h1 What's this?
  %p
    <strong>Sinatra Easy Template</strong> はSinatraを使ってWebアプリを作るためのたたき台(テンプレート)です。
    %ul
      %li <strong>views</strong>以下のファイルに合わせてページが増減します。
      %li 好きな場所にwebアプリを配置出来ます -> <a href="./demo-app.html">Demo(App)</a>
      %li HTML5のタグに対応、header, nav, #contents, aside(sidebar), footer。
      %li aside, nav 等が必要ない時は <strong>views/layout.haml</strong> からタグを削除するだけでOK。

  %h1 Tutorial
  See <a href="./demo.html">Demo</a>.


