%section
  %h1 What's this?
  %p
    <strong>Sinatra Easy Template</strong> is sintra's very easy template.
    %ul
      %li <strong>views</strong>以下のファイルに合わせてページが増減します。
      %li webアプリを追加可能、例. <a href="hello">Hello world</a>, <a href="weekday">今日は何曜日？</a>。
      %li HTML5のタグに対応、header, nav, #contents, aside(sidebar), footer。
      %li aside, nav 等が必要ない時は <strong>views/layout.haml</strong> からタグを削除するだけでOK。

  %h1 Tutorial
  See <a href="./demo.html">Demo</a>.


