%section
  %h1 What's this?
  %p
    <strong>Sinatra Easy Template</strong> はSinatraを使ってWebアプリを作るためのたたき台(テンプレート)です。
    %ul
      %li <strong>views</strong>以下にファイルを置けば新しいページを追加することが出来ます。
      %li ファイルの内容を書き換えると更新、ファイルを削除すれば削除になります。
      %li <strong>app.rb</strong>に関数を追加すればwebアプリになります -> <a href="./demo-app.html">Demo(App)</a>
      %li header, nav, #contents, aside(sidebar), footer 等、最新のHTML5のタグが使えます。
      %li <a href="./demo.html">Demo</a>にあるような表現が標準で用意されています。
      %li <strong>Scss</strong>を使っているので、960.gs, Blueprint, Bluetrip のようなグリッドレイアウトがスタイルシートの編集だけで完結します。

  %h1 Download
  .download
    <a href="https://github.com/ongaeshi/sinatra-easy-template/zipball/master">sinatra-easy-template.zip</a>
  .srccode
    <a href="https://github.com/ongaeshi/sinatra-easy-template">src code</a>

  %h1 Install



