!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Sinatra Easy Template'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'css/style.css'}

  %body
    %header
      %h1 <a href=".">Sinatra Easy Template</a>
      %nav
        %ul
          %li <a href="./index.html">Home</a>
          %li <a href="./demo.html">Demo</a>
          %li <a href="./demo-app.html">Demo(App)</a>
          %li <a href="./showcase.html">Showcase</a>
          %li <a href="./history.html">History</a>
          %li <a href="./contact.html">Contact</a>

    #contents
      != yield

    %aside
      %h1 Sidebar Menu 1
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

      %h1 Download
      %ul
        %li <a href="https://github.com/ongaeshi/sinatra-easy-template/zipball/master">sinatra-easy-template.zip</a>
        %li <a href="https://github.com/ongaeshi/sinatra-easy-template">src</a>

    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13136329-8']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %hr

    %footer
      %p
        ! Develop by <a href="./contact.html">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
