!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Sinatra Easy Template'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'style.css'}

  %body
    %header
      %h1 <a href=".">Sinatra Easy Template</a>
      %nav
        %ul
          %li <a href="./index.html">Home</a>
          %li <a href="./demo.html">Demo</a>
          %li <a href="./hello">Demo(Program)</a>
          %li <a href="./showcase.html">Showcase</a>
          %li <a href="./history.html">History</a>
          %li <a href="./contact.html">Contact</a>

    #contents
      != yield

    %aside
      %h1 Sidebar Menu 1
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %h1 Sidebar Menu 2
      %h2 Sidebar Menu 2-1
      %h3 Sidebar Menu 2-1-1
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit

    %hr

    %footer
      %p
        ! Develop by <a href="./mynameis.html">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
