!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Sinatra App Template'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'layout.css'}

  %body
    %header
      %h1 ページタイトル
      %p Sinatra-appは、Sinatraを使ってWebアプリやホームページを<br>簡単に作るためのテンプレートです。

    != yield

    %hr
    %footer
      %p
        ! Develop by <a href="http://ongaeshi.me/">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
