!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@page_title, 'Sinatra-app'].compact.join(' - ')
    %link(rel='stylesheet' type='text/css'){:href => @stylesheet || 'style.css'}

  %body
    %header
      %h1 <a href=".">Sinatra-app</a>
      %nav
        %ul
          %li <a href="./tutorial.html">Tutorial</a>
          %li <a href="./history.html">History</a>
          %li <a href="./wild.html">in The Wild</a>
          %li <a href="./mynameis.html">My name is</a>
          %li <a href="./hello">Hello</a>

    #contents
      != yield

    %aside
      .link Sidebar Menu 1
      .link Sidebar Menu 2
      .link Sidebar Menu 3
      .link Sidebar Menu 4
      .link Sidebar Menu 5
      .link Sidebar Menu 6
      .link Sidebar Menu 7
      .link Sidebar Menu 8
      .link Sidebar Menu 9
      .link Sidebar Menu 10

    %footer
      %hr
      %p
        ! Develop by <a href="./mynameis.html">ongaeshi</a>
        ! Powered by <a href="http://www.ruby-lang.org/">Ruby</a> #{::RUBY_VERSION},
        ! <a href="http://www.sinatrarb.com/">Sinatra</a> #{Sinatra::VERSION}
