- @page_title='My name is ongaeshi'

%section
  %ul
    %img(src="http://www.gravatar.com/avatar/6377451175704e2d367ce508bffc1fa5")
    <a href="http://ongaeshi.me/">ongaeshi</a>

    %section
      %h3 Reference
      %ul
        %li <a href="http://www.sinatrarb.com/">Sinatra</a>
        %li <a href="http://haml.hamptoncatlin.com/">#haml</a>
        %li <a href="http://haml.ursm.jp/">日本Hamlの会</a>

      %h3 Sample code
      %ul
