@import "mixin";

section, article, aside, header, footer, nav {
  display: block;
}

body {
  max-width: 60em;
  margin: auto;
  line-height: 1.5;
}

header {
  @include display-box;
  @include box-align(center);
  margin-top: 1em;
  padding-bottom: 0.5em;
/*   border-bottom: { */
/*     width: 1px; */
/*     style: solid; */
/*     color: #888888; */
/*   }; */
  * { margin: 0; }
  h1 {
    @include border-radius(20px);
    @include box-shadow(3px 3px 2px #888888);
    font: {
      family: "ヒラギノ明朝 Pro W6", "ＤＦＰ極太明朝体", "ＤＦ極太明朝体", "HG平成明朝体W9", "平成明朝", "ＭＳ Ｐ明朝", serif;
      size: 2.5em;
    };
    line-height: 1.1;
    border: 1px solid #000000;
    padding: 0.5em;
  }
  p {
    @include box-flex(1);
    margin-left: 1.5em;
  }
  nav {
    position: relative;
    top: 160px;
    margin-left: 200px;
    padding: 11px 0;
    border-bottom: 1px dashed #b1ad9b;
    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding-bottom: 5px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 5px;
      text-align: center;
      li {
        padding: 6px 15px;
        margin: 0 7.5px;
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        font: 14px Georgia, Garamond, Times, "Times New Roman", serif;
        border: 1px solid #cacaca;
        border-bottom: 3px solid #a0a0a0;
      }
    }
  }
}

section {
/*   @include box-shadow(0.2em 0.2em 0.2em gray); */
  clear: both;
  margin: 0 1em;
  padding-bottom: 0.5em;

  h2 {
    margin: {
      top: 1.5em;
      bottom: 0.5em;
    };
    font-family: "ヒラギノ明朝 Pro W6", "ＤＦＰ極太明朝体", "ＤＦ極太明朝体", "HG平成明朝体W9", "平成明朝", "ＭＳ Ｐ明朝", serif;
    padding-left: 0.4em;
    background: {
      color: #ffffff;
    };
    border: {
      bottom-width: 1px;
      bottom-style: solid;
      bottom-color: #000000;
      left-width: 6px;
      left-style: solid;
      left-color: black;
    };
  }

  p {
    margin: 0.7em auto;
  }

  dl {
    margin: 1em;
    dt {
      margin: {
        top: 0.8em;
        bottom: 0.2em;
      };
      font-weight: bold;
    }
    dd {
      margin-left: 1em;
    }
  }

  pre {
    padding: 0.5em 1em;
    font-size: small;
    &.blockcode {
      @include box-shadow(0.2em 0.2em 0.3em gray);
      border: solid thin gray;
      white-space: pre-wrap;
      margin-right: 1em;
    }
    &.shell {
      background-color: black;
      color: white;
      margin-right: 1em;
    }
  }
  
  .note {
    @include border-radius(4px);
    border: solid thin silver;
    background-color: #eeeeee;
    margin-right: 1em;
    padding: 0.5em 1em;
    pre.shell {
      margin-right: 0em; }
    &:before {
      content: "Note:";
      display: block;
      font-weight: bold; }
    *:first-child {
      margin-top: 0;
    }
  }

  .side-by-side {
    @include clearfix;
    width: 92%;
    margin: 1.5em auto;
    pre {
      @include box-sizing(border-box);
      float: left;
      width: 49%;
      margin-right: 0em;
      &:first-child {
        margin-right: 2%;
      }
    }
  }
}

footer {
  text-align: right;
  font-size: small;
  color: gray;
  margin: {
      top: 3em;
      bottom: 1em;
  };
  * { margin: 0; }
  li { display: inline-block; }
  a { color: inherit; }
}

