@charset "utf-8";

@import "mixin";

section, article, aside, header, footer, nav {
  display: block;
}

body {
  @include span-24;
  margin: auto;
  line-height: 1.5;
}

body > header {
  @include column;
  @include span-24;
  margin-top: 1em;
  padding-bottom: 0.5em;
  * { margin: 0; }
  h1 {
    @include span-13;
    @include border-radius(20px);
    @include box-shadow(3px 3px 2px #888888);
    font: {
      family: "ヒラギノ明朝 Pro W6", "ＤＦＰ極太明朝体", "ＤＦ極太明朝体", "HG平成明朝体W9", "平成明朝", "ＭＳ Ｐゴシック", serif;
      size: 2.5em;
    };
    line-height: 1.1;
    border: 1px solid #000000;
    padding: 0.5em;
    a { text-decoration:none; }
  }
  p {
    @include box-flex(1);
    margin-left: 1.5em;
  }
}

header > nav {
  @include column;
  @include span-24;
  margin-left: 10px;
  padding: 11px 0;
  border-bottom: 1px dashed #b1ad9b;
  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    /*     text-align: center; */
    li {
      padding: 6px 15px;
      margin: 0 7.5px;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      font: 14px Georgia, Garamond, Times, "Times New Roman", serif;
      border: 1px solid #cacaca;
      border-bottom: 3px solid #a0a0a0;
    }
  }
}

#contents {
  @include column;
  @include span-17;
  @include colborder;

  section {
      margin: 0 1em;
      padding-bottom: 0.5em;
  }

  h1 {
    margin: { top: 0.6em; bottom: 0.5em; };
    font-family: "ヒラギノ明朝 Pro W6", "ＤＦＰ極太明朝体", "ＤＦ極太明朝体", "HG平成明朝体W9", "平成明朝", "ＭＳ Ｐゴシック", serif;
    padding-left: 0.4em;
    background: { color: #ffffff; };
    border: {
      bottom-width: 1px;
      bottom-style: solid;
      bottom-color: #000000;
      left-width: 6px;
      left-style: solid;
      left-color: black;
    };
  }

  p {
    margin: 0.7em auto;
  }

  dl {
    margin: 1em;
    dt {
      margin: {
        top: 0.8em;
        bottom: 0.2em;
      };
      font-weight: bold;
    }
    dd {
      margin-left: 1em;
    }
  }

  pre {
    padding: 0.5em 1em;
    font-size: small;
    &.blockcode {
      @include box-shadow(0.2em 0.2em 0.3em gray);
      border: solid thin gray;
      white-space: pre-wrap;
      margin-right: 1em;
    }
    &.shell {
      background-color: black;
      color: white;
      margin-right: 1em;
    }
  }
  
  .note {
    @include border-radius(4px);
    border: solid thin silver;
    background-color: #eeeeee;
    margin-right: 1em;
    padding: 0.5em 1em;
    pre.shell {
      margin-right: 0em; }
    &:before {
      content: "Note:";
      display: block;
      font-weight: bold; }
    *:first-child {
      margin-top: 0;
    }
  }

  .side-by-side {
    @include clearfix;
    width: 92%;
    margin: 1.5em auto;
    pre {
      @include box-sizing(border-box);
      float: left;
      width: 49%;
      margin-right: 0em;
      &:first-child {
        margin-right: 2%;
      }
    }
  }

  .download {
    @include span-7;
    @include border-radius(10px);
    margin: { top: 1.0em; bottom: 1.0em; };
    padding: { top: 1.0em; bottom: 1.0em; };
    text-align: center;
    border: solid gray;
    background-color: #FAFAFA;
  }

  .srccode {
    @include span-5;
    @include border-radius(10px);
    margin: { top: 1.0em; bottom: 1.0em; };
    padding: { top: 1.0em; bottom: 1.0em; };
    text-align: center;
    border: solid gray;
    background-color: #FAFAFA;
  }
}

body > aside {
  @include column;
  @include span-6;
  @include last;

  h1 { font-size: 1.2em; margin: { bottom: 0.5em; }; }
  h2 { font-size: 1.0em; }
  h3 { font-size: 0.8em; }
  p { font-size: small; }
  ul { font-size: small; }
}

body > hr {
  @include column;
  @include span-24;
}

body > footer {
  @include column;
  @include span-24;

  text-align: right;
  font-size: small;
  color: gray;
  margin: { top: 2em; bottom: 1em; };
  * { margin: 0; }
  li { display: inline-block; }
  a { color: inherit; }
  p { margin: { top: 1em; bottom: 1em; }; }
}

